.card-render {
  background-color: rgb(243, 130, 130);
  border-radius: 1.5rem;
  box-shadow: 5px 5px 8px rgb(136, 136, 136);
  color: azure;
  display: flex;
  flex-direction: column;
  line-height: 1.75rem;
  margin: auto;
  margin-top: 3rem;
  max-width: 300px;
  padding: 3rem;
}
