.form-box {
  background-color: rgb(84, 160, 221);
  border-radius: 1.5rem;
  box-shadow: 5px 5px 8px rgb(136, 136, 136);
  color: azure;
  display: flex;
  flex-direction: column;
  line-height: 1.75rem;
  margin: auto;
  margin-top: 3rem;
  max-width: 300px;
  padding: 3rem;
}

.save-btn {
  background-color: rgb(37, 96, 206);
  border: none;
  border-radius: 0.75rem;
  margin-top: 1.5rem;
  max-width: 300px;
  padding: 1rem;
}

input, textarea {
  border: 3px solid rgb(199, 210, 231);
  border-radius: 0.75rem;
  box-sizing: border-box;
  margin: 5px 0;
  outline: none;
  padding: 12px 20px;
  transition: 0.5s;
  width: 100%;
}

input:focus, textarea:focus {
  border: 3px solid rgb(72, 136, 255);
}

.card-description {
  height: 4.5rem;
}

.checkbox-input {
  cursor: pointer;
  width: 2rem;
}

.rarity-input {
  border: 3px solid #ccc;
  border-radius: 0.75rem;
  box-sizing: border-box;
  margin: 5px 0;
  outline: none;
  padding: 12px 20px;
  transition: 0.5s;
  width: 100%;
}

.rarity-input:focus {
  border: 3px solid rgb(72, 136, 255);
}
